<h1>StaticPages#webhooks</h1>
<p>Find me in app/views/static_pages/webhooks.html.erb</p>

<div>
<% @change.each do |element| %>
  <li><%= element %></li>
<% end %>
</div>

<div>
<% @shelve.each do |element| %>
  <li><%= element %></li>
<% end %>
</div>

<div>
<% @form.each do |element| %>
  <li><%= element %></li>
<% end %>
</div>
